/*Proyectos*/
.proyectos{
    padding-bottom: 10rem;
}
.card-deck{
    width: 100%;
    display: flex;
    max-width: 100%;
}
.card{
    width: 100%;
    margin: 20px;
    text-align: center;
    border-radius: 4px;
    overflow: hidden;
    background: rgb(2,0,36,1);
    box-shadow:  0px 1px 15px rgba(2,0,36,1); /* Sombra*/
    cursor: default;
    transition:all 400ms ease;
}
.card:hover{
    box-shadow: 5px 50px 20px rgba(0,0,0,0.4);
    transform: translateY(-5%);
}