<!--Proyectos-->
<section class="proyectos">
    <h2 class="text-center pt-3"><span>Proyectos</span></h2>
    <div class="container">
      <div class="row"> 
        <div class="col-2">
        </div> 
        <div class="col-8 col-md-6 col-lg-4">
        <div class="card">
          <img src="../../assets/imag/BigData.Deepnote1.png" alt="imagen-personal" class="card-img-top" >
          <div class="card-body">
            <h5 class="card-title text-center">Big Data</h5>
            <p class="card-text text-center">Trabajo integrador.</p>
            <a href="https://deepnote.com/workspace/nancy-vargas-c001-90f02af4-b9a7-49b7-ae9c-d415749b8ba7/project/6-TP-Final-Integrador-Duplicate-f40406fe-076a-4f01-81a6-d7b7cdd7b384/notebook/TP%20integrador-ff5c07ab460248c393bf4df0aaf99bd1" target="_blank" class="btn btn-outline-secondary btn-sm">
              <i>Clic</i></a>
          </div>      
        </div>
        </div>
        <div class="col-8 col-md-6 col-lg-4">
          <div class="card">
            <img src="../../assets/imag/Leri.Figma.png" alt="imagen-personal" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title text-center">LERI</h5>
              <p class="card-text text-center">Limpieza Eficiente de Respaldo Intuitivo.</p>
              <a href="https://www.figma.com/proto/8wCoCYK16dl6hGcug3SV09/App-LERI-grupo-20-(Copy)?node-id=536-4017&starting-point-node-id=536%3A4017" target="_blank" class="btn btn-outline-secondary btn-sm">
                <i>Clic</i></a>
            </div>      
          </div>
          </div>
        <div class="col-2">
        </div>  
      </div>
    </div>
  </section>