<!--Barra de navegacion-->
      <nav class="navbar navbar-expand-lg bg-secondary fixed-top">
          <div class="container-fluid">
            <a class="navbar-brand" href="proyectoCV.html">
              <img src="../../../../MiPorfolioFrontEnd/assets 1/Img/ApLogo1.png" alt="" width="100%" height="">
            </a>    
            <ul class=" list-group list-group-horizontal">
               <li class="list-group-item"><a href="https://www.linkedin.com/in/nancy-vargas-01b552173/"target="_blank"><i class="fa-brands fa-linkedin fa-2xl"></i></a></li>
               <li class="list-group-item"><a href="https://github.com/LuNanVarg"target="_blank"><i class="fa-brands fa-github fa-2xl"></i></a></li>
               <li class="list-group-item"><a href="https://instagram.com/ycnananul?igshid=Yjk4NWM2ZWVkMw=="target="_blank" ><i class="fa-brands fa-instagram fa-2xl"></i></a></li>
                <!--Boton que envia al login-->
               <li class="list-group-item">
                <a href="login.html"> <i class="fa-solid fa-user-lock fa-2xl" type="button"></i> </a>
               </li>
            </ul>
          </div>
      </nav>
  <!--Como se escribe las etiquetas en algunos lenguajes como pascal y CamelCase es un estilo de escritura que se aplica a frases o
  palabras compuesta. Ej.educacionModal--> 
  <!--El login-->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="exampleModalLabel">Ingresar</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">Nunca compartiremos su correo electrónico con nadie más.</div>
            <!--We'll never share your email with anyone else.-->
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
          </form>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Ingresar</button>
        </div>
      </div>
    </div>
  </div>