<!--Barra de navegacion-->
      <nav class="navbar navbar-expand-lg bg-secondary fixed-top">
          <div class="container-fluid">
            <a class="navbar-brand" href="proyectoCV.html">
              <img src="../../assets/imag/ApLogo1.png" alt="" width="100%" height="">
            </a>    
            <ul class=" list-group list-group-horizontal">
               <li class="list-group-item"><a href="https://www.linkedin.com/in/nancy-vargas-01b552173/"target="_blank"><i class="fa-brands fa-linkedin fa-2xl"></i></a></li>
               <li class="list-group-item"><a href="https://github.com/LuNanVarg"target="_blank"><i class="fa-brands fa-github fa-2xl"></i></a></li>
               <li class="list-group-item"><a href="https://instagram.com/ycnananul?igshid=Yjk4NWM2ZWVkMw=="target="_blank" ><i class="fa-brands fa-instagram fa-2xl"></i></a></li>
                <!--Boton que envia al login-->
               <li class="list-group-item">
                <a href="#"> <i class="fa-solid fa-user-lock fa-2xl" type="button"></i> </a>
               </li>
            </ul>
          </div>
      </nav>
  <!--Como se escribe las etiquetas en algunos lenguajes como pascal y CamelCase es un estilo de escritura que se aplica a frases o
  palabras compuesta. Ej.educacionModal--> 
  <!--El login-->
  
  <app-login></app-login>