<!--Presentación-->
<section class="presentacion">
    <div class="container text-center pt-3">
      <div class="row capa1">
        <div class="col-sm-2">
             <img src="../../assets/imag/foto.cv.jpg" class="rounded-circle w-75" alt="..." title="...">    
             <h3 class="fw-normal">Nancy Vargas</h3> 
        </div>
        <div class="col-sm-8">
              <h2 class="text-center pt-2"><span>¡Hola!</span></h2>
              <h5 class="mt-6 pt-4">Desarrolladora Full Stack Jr con habilidades en HTML, CSS, Bootstrap, Deepnote y MySQL. Me apasiona aprender más sobre códigos y su aplicación en el desarrollo web.<br>Además, me encanta la comida, los animales y la pintura.<br>¡Encantada de compartir contigo mi entusiasmo por la tecnología y mis intereses!</h5>
        </div>
    </div>
  </div>
  </section>
