/*.capa1{
    position: absolute;
    z-index: 1;
    margin-top: 50rem;
    margin-left: 20rem;
}*/
/* Quite los codigos, ya que me dada error (lo dejaba abajo de todo en el centro sin darle formas)*/
