<!--Experiencia-->
<section class="experiencia mt-3">
    <h2 class="text-center pt-2"><span>Experiencia</span></h2>
    <div class="container text-center">
      <div class="row">
        <div class="col-sm-8">
          <h5 class="mt-6 pt-4">Administrativa-Subcoordinadora en EuroArgentina ProDermic.<br>Realización de cronogramas de actividades mensuales.<br>Planificación y difusión de carreras anuales, cursos cortos, charlas.
            <br>Atención al cliente, venta al público, telemarketing y facturación.<br> Manejo del personal y del local.</h5>  
        </div>
        <div class="personal  col-sm-4">
          <div class="col-1"></div>
          <img src="../../assets/imag/PersonalAdm.png" class="rounded-start w-75"  alt="..." title="..." width="300" height="200"> 
          <h3 class="fw-normal"></h3>  
        </div>
      </div>
    </div>
  </section>
