<!--Habilidades-->
   <!--Habilidades parte 1-->
   <section class="progress-section">
    <div class="container-fluid"> 
      <div class="row">
        <h2 class="text-center"><span>Habilidades</span></h2>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-2">
       <div class="progress-bars-eight">
       <h6>HTML 85%</h6>
       </div><!--progress-bars-->
       </div>
       <div class="col-sm-2">
        <div class="progress-bars-six">
          <h6>Css 65%</h6>
        </div><!--progress-bars-->
       </div>
        <div class="col-sm-2">
       <div class="progress-bars-five">
       <h6>JavaScript 55%</h6>
       </div><!--progress-bars-->
       </div>
        <div class="col-sm-2">
       <div class="progress-bars-six">
       <h6> Angular 65%</h6>
       </div><!--progress-bars-->
       </div>
      </div>
    </div>
  </section>
  <!--Habilidades parte 2-->
<section class="progress-section">
    <div class="container-fluid"> 
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-2">
        <div class="progress-bars-five">
        <h6>Python 55%</h6>
        </div><!--progress-bars-->
        </div>
      <div class="col-sm-2">
        <div class="progress-bars-five">
        <h6>My SQL 55%</h6>
        </div><!--progress-bars-->
      </div>
      <div class="col-sm-2">
          <div class="progress-bars-five">
          <h6>Java 55%</h6>
          </div><!--progress-bars-->
      </div>
      <div class="col-sm-2">
     <div class="progress-bars-eight">
     <h6>Deepnote 85%</h6>
     </div><!--progress-bars-->
      </div>
    </div>
  </div>
  </section>
